.mantine-yzu17x {
    tr {
        td {
            text-align: left;
        }
    }
}

.TotalPrice {
    font-weight: 600;
    font-size: 16px;
    background-color: #fdffd6;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
}