.main2 {
    font-family: 'Montserrat';
}

.img-preview {
    object-fit: cover;
    height    : 8rem;
    width     : 8rem;
}

.form-new {
    .btn {
        background-color: var(--blue);

        padding      : 0.4rem;
        margin-top   : 1rem;
        margin-bottom: 0;
        font-size    : 18px;
        font-weight  : 400;
        width: 10%;
    }
}

.lb {
    font-family: 'Montserrat';
}

.left {
    h1 {
        text-align: start !important;
    }
}

.inputSP {
    width : 100% !important;
    margin: 0 !important;

}

.label-card {
    margin: 0 !important;

}

.card-title2 {
    text-align: start;
}

.formbtn div {
    text-align: center;
}

.formbtn .btn:hover{
    background-color: rgb(43, 107, 226);
}