// .inputTK {
//     width : 100% !important;
//     margin: 0 !important;

// }

// .inputTKK {
//     text-align: start;
//     width     : 230px !important;
//     margin    : 0 !important;
// }

.form-check-input{
    scale: 1.5;
}

.inputTKK {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 5px;
}
